.custom-footer .navigation {
    background-color: #072A4D;
    color: #fff;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
}


.custom-footer .footer-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
}
.custom-footer .right-section {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .custom-footer .footer-content{
    grid-template-columns: 1fr 1fr;
  }
  .custom-footer .right-section {
    grid-template-columns: 1fr 1fr 1fr;
}
}

.custom-footer .footer-bottom {
  text-align: center;
  border: 1px solid #DBDBDB;
}



.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #242A4B;
}
.site-content {
  background-color: #DBDBDB;
}

.custom-footer .footer-content p {
    color: #242A4B;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.custom-footer .footer-content .category-item a {
    color: #242A4B;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.custom-footer .footer-content .category-item a svg {
    width: 36px;
    height: 36px;
}
.custom-footer .footer-content .footer-title a {
    color: #242A4B;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
}
.custom-footer .footer-content .download-item svg {
  width: 170px;
  height: 40px;
}
